APP_BASE_URL=http://localhost:443
AUTH0_DOMAIN=dev-1qai22n7dmq3qykj.us.auth0.com
AUTH0_CLIENT_ID=ZFLMVonqGWhAxqO2aorKU1pmCjoer1WP
AUTH0_CLIENT_SECRET=REPLACE_WITH_YOUR_AUTH0_CLIENT_SECRET
AUTH0_SECRET=GENERATE_WITH_OPENSSL_RAND_HEX_32
